// header
.container.header {
  height: 118px;
  background: linear-gradient(360deg, #fe5f34 0%, #ff9879 100%);
  border-radius: 40px 40px 0px 0px;
}

.row.header__wrapper {
  height: 100%;
}

th.columns.header__inner {
  padding-top: 17px;
  padding-bottom: 0;
  vertical-align: bottom;

  &--left {
    padding-left: 46px;
    padding-bottom: 17px;
    vertical-align: middle;
  }

  @media only screen and (max-width: #{$global-breakpoint}) {
    height: 100% !important;

    & th {
      text-align: center;
    }
  }
}

.header__img {
  display: inline;
}

// main
.container.main {
  background: #ffffff;
}
th.columns.main__content {
  padding-top: 40px;
  padding-left: 42px;
  padding-right: 38px;
  padding-bottom: 41px;
}
h1.main__title {
  margin-bottom: 32px;
  font-weight: 700;
  line-height: 1.2;
}
// main - merging-item
.mergin-item__dot-img {
  width: 39px !important;
  padding-bottom: 0 !important;
}

.mergin-item__dashed {
  width: 0;
  height: 34px;
  margin-left: 12px;
  margin-top: -2px;
  margin-bottom: -2px;
  border-left: 2px dashed #f6734c;

  &--inactive {
    border-left: 2px dashed #c2c2c2;
  }
}

.mergin-item__text {
  width: auto !important;
  line-height: 1.1;
  vertical-align: top;
  padding-top: 4px;
  padding-bottom: 0 !important;
}
// main - merging-hint
.merging-hint {
  margin-top: 41px;
  margin-bottom: 0;
  padding-top: 21px;
  border-top: 1px solid #c2c2c2;
  line-height: 1.5;
}

// footer
.container.footer {
  height: 76px;
  background: #fd653c;
  border-radius: 0px 0px 40px 40px;
}

.row.footer__wrapper {
  height: 100%;
}

th.columns.footer__inner {
  padding-top: 24px;
  padding-bottom: 18px;
  padding-right: 45px;
}

.footer__inner th {
  text-align: right;
}

.footer__img {
  display: inline;
}
