<container class="footer">
  <row class="footer__wrapper">
    <columns class="footer__inner" small="12" large="12">
      <!-- Ссылки сервиса Mts link начало  -->
      <p class="footer__text">© Webinar Group, 2023
        <a href="https://mts-link.ru/" target="_blank" class="footer__link">О сервисе</a>
        <a href="https://help.mts-link.ru/ru/" target="_blank" class="footer__link">Тех. поддержка</a>
      </p>
      <!-- Ссылки сервиса Mts link Конец  -->
    </columns>
  </row>
</container>
